.cell {
    width: $image-size-for-desktop;
    height: $image-size-for-desktop;
    font-size: $image-size-for-desktop;
    color: $off-blue;
    text-align: center;
    vertical-align: middle;
    padding-bottom: $xxxl-size;
    
    @media(max-width: $desktop-breakpoint) {
        width: $image-size-for-mobile;
        height: $image-size-for-mobile;
        font-size: $image-size-for-mobile;
        padding-bottom: $xxl-size;
    }
}
